<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Weather App</title>
</head>
<body>

    <header class="header">
        <nav class="nav">
            <img class="logo" src="/images/sun-logo.png" alt="Logo">
            <ul>
                <li class="nav__link"><a href="/weather">Weather</a></li>
                <li class="nav__link"><a href="#">Maps</a></li>
                <li class="nav__link"><a href="#">Docs</a></li>

            </ul>
        </nav>
        <div class="middle width60">
            <h1 class="header__heading">plan ahead of weather</h1>
            <div action="" class="search-container">
                <input class="header__search" type="text" placeholder="Search location, zip...">
                <a class="search__btn"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </header>

    <section class="common">
        <div class="grid">
            <div class="grid__item">
                <figure>
                    <img src="/images/islamabad.jpg" alt="Islamabad">
                    <figcaption>
                        <h2>Islamabad</h2>
                        <p>See Islamabad Weather Details</p>
                        <a class="islamabad-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/istanbul.jpg" alt="Istanbul">
                    <figcaption>
                        <h2>Istanbul</h2>
                        <p>See Istanbul Weather Details</p>
                        <a class="istanbul-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/jeddah-city.jpg" alt="Jeddah">
                    <figcaption>
                        <h2>Jeddah</h2>
                        <p>See Jeddah Weather Details</p>
                        <a class="jeddah-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/berlin.jpg" alt="Berlin">
                    <figcaption>
                        <h2>Berlin</h2>
                        <p>See Berlin Weather Details</p>
                        <a class="berlin-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/paris.jpg" alt="Paris">
                    <figcaption>
                        <h2>Paris</h2>
                        <p>See Paris Weather Details</p>
                        <a class="paris-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/london.jpg" alt="London">
                    <figcaption>
                        <h2>London</h2>
                        <p>See London Weather Details</p>
                        <a class="london-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/tokyo.jpg" alt="Tokyo">
                    <figcaption>
                        <h2>Tokyo</h2>
                        <p>See Tokyo Weather Details</p>
                        <a class="tokyo-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/hong-kong.jpg" alt="Hong Kong">
                    <figcaption>
                        <h2>Hong Kong</h2>
                        <p>See Hong Kong Weather Details</p>
                        <a class="hongkong-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid__item">
                <figure>
                    <img src="/images/moscow.jpg" alt="Moscow">
                    <figcaption>
                        <h2>Moscow</h2>
                        <p>See Moscow Weather Details</p>
                        <a class="moscow-link" href="#">Find Weather</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    {{>footer}}

    <script src="https://kit.fontawesome.com/d88c941f69.js" crossorigin="anonymous"></script>
    <script src="/scripts/indexScript.js"></script>
</body>
</html>