<section class="footer">
    <p>Created by <span>@ahmadzaheer_dev</span></p>
    <ul class="social">
        <li class="social__icons"><a href="#"><i class="fab fa-github"></i></a></li>
        <li class="social__icons"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="social__icons"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li class="social__icons"><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</section>
<script src="https://kit.fontawesome.com/d88c941f69.js" crossorigin="anonymous"></script>