
<header class="global-header">
    <nav class="nav">
        <a href="http://localhost:3000/"><img src="/images/sun-logo.png" alt="logo"></a>
        <ul>
            <li class="nav__link"><a href="#">Weather</a></li>
            <li class="nav__link"><a href="#">Maps</a></li>
            <li class="nav__link"><a href="#">Docs</a></li>
        </ul>
    </nav>
    <div class="searchbox" action="">
        <input id="loc__search" class="search__input" type="text" placeholder="Search location">
        <a class="searchbox__btn"><i class="fas fa-search"></i></a>
    </div>
</header>
