
<header class="global-header">
    <nav class="nav">
        <a href="/"><img src="/images/sun-logo.png" alt="logo"></a>
        <ul>
            <li class="nav__link"><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="searchbox">
        <input id="loc__search" class="search__input" type="text" placeholder="Search location">
        <a class="searchbox__btn"><i class="fas fa-search"></i></a>
    </div>
</header>
